// variables globales

// colors
$mainColor: darkred;
$secondaryColor: gray;
$terciaryColor: rebeccapurple;
$quartaryColor: Black;

// fonts
$mainFont: 'Roboto Mono', monospace;

// sizing
$textSm: .8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

// font weight
$fontLight: 100;
$fontBold: 700;
$fontRegular: 500;

body {
    background-image: url(https://i.pinimg.com/564x/f8/f5/94/f8f5949eac79c86f399384b3aebe046f.jpg);
    background-position: center;
    background-image: fixed;
    background-repeat: no-repeat;
    background-position: contain;
    text-align: center;
}

.box-model {
    margin: 30px 5px 5px 15px;
    padding: 10px 0 10px 5px;
    border: 10px solid rgba(255, 0, 0, 0);
    text-align: justify;
}

h1 {
    font-family: $mainFont;
    font-weight: $fontBold;
    color: $mainColor;
}

h2 {
    font-family: $mainFont;
    font-weight: $fontRegular;
    color: $secondaryColor;
}

h6 {
    font-family: $mainFont;
    font-weight: $fontLight;
}

.redes {
    color: $terciaryColor;
}

.acount {
    color: $quartaryColor;
}

.iyt {
    vertical-align: middle;
}

footer {
    display: block;
    justify-content: center;
}

 /* Estilos para dispositivos móviles */

 @media screen and (max-width: 400px) {
    body {
    background-image: url(https://i.pinimg.com/564x/f8/f5/94/f8f5949eac79c86f399384b3aebe046f.jpg);
    background-size: contain;
    background-position: center bottom 20px;
    height: 100vh;
    }
 
}

/* Estilos para dispositivos desktop */

@media screen and (max-width: 1500px) {
    body {
        background-image: url(https://i.pinimg.com/564x/f8/f5/94/f8f5949eac79c86f399384b3aebe046f.jpg);
        background-position: center bottom 20px;
        background-image: fixed;
        background-repeat: no-repeat;
        background-position: contain;
        text-align: center;
        }
}